.pokemon-form {
  margin: 7em auto;
  width: 340px;
  display: flex;
  justify-content: space-between;
}

.toolbar {
  justify-content: center;
}

.card-abilities {
  width: 20%;
  height: 200px;
  margin: 0 auto;
}
